body {
  background-color: #f6f6f6;
}

#myList {
  list-style: none;
  margin: 0;
}

.main {
  width: 500px;
  margin: 100px auto;
  background: #fff;
  padding: 0;
}

input:placeholder-shown {
  font-style: italic;
}

.holder {
  margin: 0;
}

.form-control {
  border: none;
}

.list-group {
  margin: 0;
}

.list-group-item {
  border-right: none;
  border-left: none;
  border-radius: 0;
}

.btn {
  border-radius: 0;
  padding: 15px;
}

#refresh {
  margin: 20px auto;
}

[contenteditable='true']#dash {
  white-space: nowrap;
  overflow: hidden;
  padding: 7px;
  outline: 0px solid transparent;
}

#complete {
  outline: none;
}

.close {
  display: none;
}

.fa-ellipsis-v {
  cursor: pointer;
}
